server:
  address: 0.0.0.0
  port: 8081
  
spring:
  application:
    name: spring_example
  datasource:
    url: jdbc:postgresql://localhost:5432/tododb
    username: postgres
    password: abhay
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      database-platform: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml

management:
  endpoints:
    web:
      exposure:
        include: health, info
